@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

:root{

    --background: #000000;
    --red: #C20000;
    --blue: #001F70;
    --gradiente: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);

    --font:'Titillium Web', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background);
    font-family: var(--font);
    font-size: 16px;
}
.header-top{
    width: 100%;
    height: 5em;
    /* background-color: aliceblue; */
}
.content{
    width: 95%;
    max-width: 75em;
    height: 100%;
    /* background-color: rgba(0, 255, 255, 0.459); */
    margin: auto;
}
img{
    width: 100%;
}
.flex-spbt-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-spar-center{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-top img{
    max-width: 21.18em;
}
.menu{
    width: 100%;
    max-width: 50em;
}
.menu ul{
    list-style-type: none;
}
.menu a{
    color: #fff;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 0.9em 0.66em;
}
.menu a:hover{
    background-color: var(--red);
    text-shadow: 0 0 20px #fff;
    text-decoration: underline;
}
#menu-bars{
    display: none;
}
.banner{
    position: relative;
}
.banner-container{
    width: 95%;
    height: 100%;
    position: absolute;
    /* background-color: rgba(0, 255, 255, 0.37); */
    top: 0;
}
.banner-content{
    width: 85%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}
.banner-text{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.banner-text h1{
    font-size: 5.62em;

}
.banner-text p{
    font-size: 1.87em;
}
.banner-text a{
    color: #fff;
    font-size: 1.87em;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--red);
    padding: 0.5em 1.2em;
    border-radius:0.75em ;
    margin-top: 2em;
}
.games{
    width: 100%;
    height: 7.5em;
}
.games ul{
    width: 100%;
    list-style-type: none;
}
.games img{
    width: 170px;
}
.games ul a:hover img{
    transition: 0.5s;
    transform: scale(1.5);
}
.about{
    /* width: 100%; */
    height:31.25em;
    background-color: var(--blue);

    position: relative;
}


.about-angulation{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}


.angulation{
    height: 24.125em;
    width: 100%;
    background-color:var(--background);

    transform: skewY(-4deg);

}
.container-about{
    color: #fff;
    position: absolute;
    top: 0;
}
.content-about{
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.text-about{
    width: 50%;
    text-align: justify;
}

.text-about h2{
    margin-bottom: 1em;
    font-size: 2.18em;
}

.text-about p{
    font-size: 1.25em;
}

.content-about img{
    max-width: 31.875em;
}

.linha{
    border: solid 1px #fff;
    height: 3em;
}

.games-aovivo, .games-embreve{
    display: flex;
    color: #fff;
    align-items: center;
    font-size: 1.5625em; /*25px*/
    justify-content: space-between;
}

.partida{
    width: 9.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
    margin-right: 0.8em;
}
.time1, .time2{
    display: flex;
    align-items: center;
}
.partida img{
    width: 1.8em;
}
.games-aovivo h2, .games-embreve h2{
    margin-right: 0.5em;
    line-height: 1.1em;
}
.time1 img{
    margin-left: 0.5em;
}
.time2 img{
    width: 1.6em;
    margin-right: 0.5em;
}

.noticias{
    width: 100%;
    height: 55.125em;
    background-color:#1E1C21;
    color: #fff;
}
.noticia{
    width: 85%;
    height: 51em;
    /* background-color: rgba(204, 204, 204, 0.555); */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 1em;
}

.noticia a{
    color: #fff;
    text-decoration: none;
}

.noticia a:hover{
    text-decoration: underline;
}


.noticia1{
    background-image: var(--gradiente);
    /* background-color: yellow; */
    width: 14.81em;
    height: 22em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 20px 4px #000000;
}
.game-noticia h2{
    font-size: 2.1875em;
}


.text-noticia{
    width: 90%;
    height: 50%;
}

.jogos{
    width: 17em;
    height: 46.93em;
    /* background-color: yellowgreen; */
    background-image: var(--gradiente);
    box-shadow: 1px 1px 20px 4px #000000;
}

.jogos img{
    width: 2.5em;
}


.jogo-content{
    width: 95%;
    height: 100%;
    /* background-color: #ccc; */
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.jogo1{
    /* background-color: violet; */
    width: 100%;
    height: 6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.times{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jogo1 p:nth-child(2){
    color: #fff;
    text-align: center;
    font-size: 0.8em;
    margin-top: 0.6em;
}

.rodape{
    width: 100%;
    height: 13.125em;
    color: #fff;
}

.links{
    width: 13em;
    height: 10em;
}
.links ul{
    list-style-type: none;
}
.links a{
    color: #fff;
    text-decoration: none;
    line-height: 2em;
}
.links a:hover{
    text-decoration: underline;
}
.logo img{
    width: 100%;
    max-width: 21.18em;
}
.container-rodape{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}





/* Até 1199px */
@media screen and (max-width: 74.93em){
    
}
/* Até 991px */
@media screen and (max-width: 61.93em){

}
/* Até 767px */
@media screen and (max-width: 47.93em){

}
/* Até 576px */
@media screen and (max-width: 36em){

}
